{% extends 'base.html' %}
{% load custom_filters %}
{% block title %}Página de Inicio - {{ block.super }}{% endblock %}

{% block content %}


<div class="container">
    <div class="row topspace">
        <div class="col-sm-8 col-sm-offset-2">
            {% if tag %}
                <h2># "{{ tag.name }}"</h2>
            {% endif %}
           
            <div class="container">
                <div class="row __shr">
                    <form method="get">
                        <div class="input-container">
                            {{ form.query }} <!-- Solo el campo, sin label -->
                            <input class="btn btn-primary __sh search-input" type="submit" value="Buscar">
                        </div>
                    </form>
                </div>
            </div>
            <br><hr>
            {% if query %}
                <h2 class="text-center"> Coincidencicia con : <strong>{{ query|upper }}</strong></h2>
                <br><hr>
            {% endif %}
            
            {% for post in posts %}                                            
            <article class="post">
                <header class="entry-header">
                    <div class="entry-meta"> 
                        <span class="posted-on"><time class="entry-date published" date="2013-09-27">Publicado {{ post.publish }} </time></span>			
                    </div>
                    <h1 class="entry-title">{{ post.title }}</h1>
                    <!-- <h1 class="entry-title"><a href="{{  post.get_absolute_url }}" rel="bookmark">{{ post.title }}</a></h1> -->
                    {% for tag in post.tags.all %}
                    <a class="__a" href="{% url 'blog:post_list_by_tag' tag.slug %}">
                            <strong>#{{ tag.name }}</strong> 
                    </a>
                           {% if not forloop.last %}, {% endif %}
                         {% endfor %}
                </header>
                <div class="entry-content">
                    <p>{{ post.body|truncatewords:40|linebreaks }}.</p>
                    <a href="{{  post.get_absolute_url }}" class="more-link">Continuar leyendo &#8230;</a>
                </div>
                
            </article>
            {% endfor %}
            {% include "blog/pagination.html" with page=posts %}
            <br><hr>
            <h3>Últimas publicaciones</h3>
            {% show_latest_posts 3 %}
            <hr>
            <p>
                <a class="__a" href="{% url 'blog:post_feed' %}">
                       Suscribite a mi feed RSS
                </a>
            </p>
        </div>
        
    </div>
</div>
<!-- Otros elementos específicos de la página de inicio -->
{% endblock %}