{% extends "base.html" %}
 {% block title %}Envio de Post{% endblock %}
 {% block content %}
 <div class="container">
    <div class="row topspace">
        <div class="col-sm-8 col-sm-offset-2">
                                         
            <article class="post">
                <header class="entry-header">
                    {% if sent %}
                        <h1>E-mail successfully sent</h1>
                        <h1 class="entry-title">"{{ post.title }}" was successfully sent to {{ form.cleaned_data.to }}.</h1>
                    {% else %}
                        <h1 class="entry-title" >Compartir "{{ post.title }}" mediante e-mail</h1>
                        <form method="post">
                            {{ form.as_p }}
                            {% csrf_token %}
                            <input type="submit" value="Send e-mail">
                        </form>
                    {% endif %}
                </header>
                
                <header class="entry-header">
                  <div class="entry-meta"> 
                      <span class="posted-on"><time class="entry-date published" date="2013-09-27">Publicado {{ post.publish }} por {{ post.author }}</time></span>			
                  </div>
              </header>
            </article>
  
            <div class="col-lg-12 text-right">
              <a href="{% url 'blog:get_post' %} " class="btn btn-primary btn-lg">Retornemos a seguir leyendo ... 😎</a>
            </div>
  
        </div>
    </div>
  </div>
 {% endblock %}


