{% extends "base.html" %}
{% block title %}Envio de Post{% endblock %}
{% block content %}
<div class="container">
    <div class="row topspace">
        <div class="col-12 ">

            <main id="main">
                <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div id="comments">
                                    {% if sent %}
                                    <div class="alert alert-success" role="alert">
                                        ¡El correo se ha enviado correctamente!
                                    </div>
                                    {% else %}
                                    <div id="respond">
                                        <h3 class="reply-title text-center">{{"rellena tus datos para que puedas compartir el siguiente Post: "|upper}} <br><br><strong>"{{ post.title }}" </strong> </h3>
                                        <form class="" id="commentform" method="post" >
                                            <div class="form-group">
                                              {{ form.as_p }}  
                                            </div>  
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-md-12 text-center">
                                                    <input class="btn btn-action" type="submit" value="Compartir Post">
                                                </div>
                                            </div>
                                            
                                            
                                        </form>
                                    </div>
                                    
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                </div>
            </main>

            <div class="col-lg-12 text-right __retornar">
                <a href="{% url 'blog:get_post' %} " class="btn btn-primary btn-lg">Retornemos a seguir leyendo ...
                    😎</a>
            </div>

        </div>
    </div>
</div>
{% endblock %}